.banner-inner
  position: relative
  z-index: 2
  top: 50%
  +translate(0,-60%)
  @media #{$small-only}
    +translate(0,-50%)
  .banner-inner-header
    position: relative
    width: 600px
    margin: 0 auto
    p
      font-size: 8.125rem
      text-transform: uppercase
      line-height: 1
      letter-spacing: 5px
      +bold
    .top-title
      position: absolute
      +marck
      font-size: 1.75rem
      left: 3rem
      top: -1rem
    svg
      position: absolute
      height: 2.75rem
      left: 5rem
      bottom: -2.5rem
    @media #{$small-only}
      width: 260px
      z-index: 1
      p
        font-size: 2.5rem
      .top-title
        left: 50%
        +translate(-50%,0)
        top: -1.25rem
        font-size: 1.25rem
      svg
        left: 50%
        +translate(-50%,0)
        height: 1.5rem
        bottom: -1.5rem
    @media #{$large-up}
      top: 70px
      left: 10px

  .more-info
    margin-top: 50px
    @media #{$small-only}
      margin-top: -50px
    .coffee-img-container
      @media #{$medium-only}
        padding-top: 100px
      .coffee-img
        +scale(1.75)
        @media #{$small-only}
          +scale(1)
    .countries-container
      position: relative
      padding-top: 200px
      text-align: center
      z-index: 1
      @media #{$small-only}
        padding-top: 0
        margin-top: -50px
      @media #{$medium-only}
        padding-top: 100px
      @media #{$landscape}
        padding-top: 100px
      .title
        +marck
        font-size: 2.25rem
        margin-bottom: 20px
        @media #{$small-only}
          font-size: 1rem
          margin-bottom: 0
      .country
        cursor: pointer
        .country-map
          *
            +transition(0.25s)
          @media #{$small-only}
            display: none
        .coffee-sort
          line-height: 1.25em
          @media #{$small-only}
            font-size: 0.875em
            height: 50px
          @media #{$medium-only}
            height: 60px
        .plus
          width: 30px
          height: 30px
          margin: 20px auto 0
          +transition(0.25s)
          @media #{$small-only}
            margin: 10px auto 0
        &:hover
          .country-map
            *
              opacity: 0.75
          .plus
            +scale(1.2)

