.slider1, .slider2
  .next-btn, .prev-btn
    cursor: pointer
    position: absolute
    z-index: 3
    top: 50vh
    transition: .2s
    &.next-btn
      left: 15px
      &:hover
        left: 25px
    &.prev-btn
      right: 15px
      &:hover
        right: 25px
    svg
      width: 30px
      height: 30px
  &.slider2
    padding: 50px 0
    .mainlidet1.goode
      .goode12-slider-nav
        li
          background-color: #312b2d
          @media #{$small-only}
            height: 200vh
          .banner-inner-header
            color: $orange
            text-align: left
            p
              font-size: 72px
              font-family: 'Roboto Slab', serif
              @media #{$small-only}
                font-size: 45px
            span
              top: -5rem
              font-size: 72px
              font-family: 'Marck Script', cursive
          .row.more-info
            .title
              font-family: 'Roboto Slab', serif
              font-size: 16px
              color: $grey
              text-transform: uppercase
            h3
              text-transform: uppercase
              font-size: 25px
              color: white
              padding-bottom: 25px
            .text
              font-size: 12px
              color: $grey
              line-height: 21px
              letter-spacing: 3px
              max-width: 85%
              @media only screen and (max-width:1025px)
                max-width: 60%
              @media #{$small-only}
                max-width: 100%
  .mainlidet1.goode
    .goode1-slider-for, .goode12-slider-for
    .goode1-slider-nav, .goode12-slider-nav
      li
        height: 100vh
        .bg-img
          // background-size: contain
          // background-repeat: space
          // background-position: unset
        .choose-language
          width: 100%
          height: 24px
          text-align: center
          cursor: pointer
          // z-index: 10
          .wrapper
            position: absolute
            top: 50px
            right: 82%
            @media #{$medium-only}
              right: 83%
            @media #{$small-only}
              top: 0
              right: 66%
          a
            width: 50px
        .coffee-img-container
          position: absolute
          width: 60vw
          height: 100vh
          z-index: 2
          @media #{$small-only}
            width: 100vw
          @media #{$xxlarge-up}
            width: 70vw
          .coffee-img
            position: absolute
            background-size: contain
            background-repeat: no-repeat
            width: 100%
            height: 100%
            background-position: center
            @media only screen and (min-width:1440px)
              width: 85%
              height: 120%
            @media screen and  (max-width: 1366px)
              width: 91%
              height: 120%
        .coffee-header
          position: relative
          @media #{$small-only}
            z-index: 2
        .banner-inner-header
          position: relative
          width: 600px
          margin: 0 auto
          margin-top: 10vh
          z-index: 1
          @media #{$small-only}
            margin-top: 20vh
          p
            font-size: 8.125rem
            text-transform: uppercase
            line-height: 1
            letter-spacing: 5px
            +bold
          .top-title
            position: absolute
            +marck
            font-size: 1.75rem
            left: 3rem
            top: -1rem
          svg
            position: absolute
            height: 2.75rem
            left: 5rem
            bottom: -2.5rem
          @media #{$small-only}
            width: 260px
            z-index: 1
            p
              font-size: 2.5rem
            .top-title
              left: 50%
              +translate(-50%,0)
              top: -1.25rem
              font-size: 1.25rem
            svg
              left: 50%
              +translate(-50%,0)
              height: 1.5rem
              bottom: -1.5rem
      &.goode1-slider-nav
        .slick-dots
          display: flex
          // justify-content: center
          // list-style-type: none
          // flex-direction: column
          height: 0
          position: absolute
          // right: 20px
          // top: 50%
          left: 47%
          bottom: 10%
          @media #{$small-only}
            left: 34%
            // display: none
          @media screen and  (max-width: 1366px)
            position: absolute
            right: 40px
            top: 50%
            left: 95%
            transform: translate(0, -50%)
            z-index: 3
            flex-direction: column
          li
            display: inline-block
            button
              display: block
              cursor: pointer
              width: 8px
              height: 8px
              border: 1px solid white
              margin: 8px
              text-indent: -9999px
              @media screen and  (max-width: 1025px)
                display: none
            &.slick-active
              button
                background-color: white
      &.goode12-slider-nav
        .slick-dots
          display: flex
          justify-content: center
          height: 0
          position: absolute
          left: 45%
          bottom: 5%
          @media #{$small-only}
            left: 32%
          li
            height: 2px
            display: inline-block
            button
              display: block
              cursor: pointer
              width: 8px
              height: 8px
              border: 1px solid white
              margin: 8px
              text-indent: -9999px
            &.slick-active
              button
                background-color: $orange

//
.go-down
  color: white
